html, body{
    margin: 0;
    height: 100%;
}

body {
    color: #f0e5d8;
    font-family: 'Georgia', serif;
}

#background-wood{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../assets/1672792538_grizly-club-p-tekstura-temnogo-dereva-9.jpg');
    background-size: cover;
    z-index: -1;
}

#navbar-wood{
    background-image: url('../assets/1672792532_grizly-club-p-tekstura-temnogo-dereva-2.jpg');
    height: 125px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9;
}

#navbar{
    display: flex;
    justify-content: center;

}

#tavern-sign{
    margin-top: -80px;
    position: fixed;
    background-image: url('../assets/pngwing.com\ \(3\).png');
    background-size: cover;
    background-position: center;
    width: 288px;
    height: 252px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#tavern-sign-text{
    margin-top: 90px;
    font-size: 40px;
    user-select: none;
}


#back-to-menu-sign{
    background-image: url('../assets/pngwing.com\ \(1\).png');
    z-index: 11;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    top: 23px;
    left: 60px;
    width: 211px;
    height: 80px;
    transition: all 0.25s;
}

#back-to-menu-sign:hover{
    transform: rotate(-5deg) translateY(7px) translateX(3px);

}

#back-to-menu-text{
    font-size: 25px;
    text-align: center;
    color: #f0e5d8;
    user-select: none;
}

/* /////////////////////////////////////////////////////// */

#main-wood-grid{
    justify-self: center;
    display: grid;
    grid-template-columns: 105px 800px 105px;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    position: fixed; 
    top: 125px;
    left: 50%;
    transform: translate(-50%, 0%);
    
}

.vertical-wood-left{
    grid-area: 1 / 1 / 2 / 2;
    background: url('../assets/vertical-wood-block.jpg');
    height: 100vh;
}

.vertical-wood-right{
    grid-area: 1 / 3 / 2 / 4;
    background: url('../assets/vertical-wood-block.jpg');
    height: 100vh;
}

#main-wood{
    grid-area: 1 / 2 / 2 / 3;
    max-width: 800px;
}




#chronicles-div{
    background-color: rgba(45, 43, 43, 0.9);
    width: 720px;
    min-height: 100vh;
    position: relative;
    top: 150px;
    border-radius: 5px;
    justify-self: center;
    padding: 20px;
    margin-bottom: 150px;
}

.chronicles-event{
    font-size: 20px;
}